# MQTT Broker Configuration
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USER=sandisolar_inv
MQTT_PASSWORD=sandisolar_pass

# Telegram Notifications
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID

# Paths
LOG_DIR=./logs
